<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method="myInit" default-destroy-method="myDestroy">

	<bean id="restaurantBean"
		class="com.kumari.khusi._10BeanFactoryPostProcessor._1custom._2withOrder.Restaurant"
		init-method="initRestaurant" destroy-method="destroyRestaurant">
		<property name="welcomeNote"
			value="Welcome to the restaurant via injecting value into bean property"></property>
	</bean>

	<bean
		class=" org.springframework.context.annotation.CommonAnnotationBeanPostProcessor">
	</bean>

	<bean id="employeeBean"
		class="com.kumari.khusi._10BeanFactoryPostProcessor._1custom._2withOrder.Employee">
		<property name="welcomeNote"
			value="Welcome to the employee via injecting value into bean property"></property>
	</bean>

	<bean
		class="com.kumari.khusi._10BeanFactoryPostProcessor._1custom._2withOrder.DemoBeanPostProcessor">
	</bean>
	<bean
		class="com.kumari.khusi._10BeanFactoryPostProcessor._1custom._2withOrder.DemoBeanFactoryPostProcessor">
	</bean>
	<bean
		class="com.kumari.khusi._10BeanFactoryPostProcessor._1custom._2withOrder.DemoBeanFactoryPostProcessor2">
	</bean>
	<bean
		class="com.kumari.khusi._10BeanFactoryPostProcessor._1custom._2withOrder.DemoBeanFactoryPostProcessor3">
	</bean>

</beans>  