<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="restaurantBean"
		class="com.kumari.khusi._2InjectString._2viaConstructorDI._2typeIndexAttribute.Restaurant">
		<!-- <constructor-arg name="welcomeNote" value="Welcome to the restaurant"></constructor-arg> -->
		<!-- <constructor-arg value="10"></constructor-arg> -->
		<!-- <constructor-arg type="java.lang.String" value="10"></constructor-arg> -->
		<constructor-arg type="int" value="30"></constructor-arg>
	</bean>

	<bean id="restaurantBean2"
		class="com.kumari.khusi._2InjectString._2viaConstructorDI._2typeIndexAttribute.Restaurant">
		<!-- <constructor-arg value="10"></constructor-arg> 
			<constructor-arg value="30"></constructor-arg> -->

		<!-- <constructor-arg type="java.lang.String" value="10"></constructor-arg> 
			<constructor-arg type="int" value="30"></constructor-arg> -->

		<constructor-arg index="1" value="10"></constructor-arg>
		<constructor-arg index="0" value="30"></constructor-arg>
	</bean>
</beans>  