<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="restaurantBean0" class="com.kumari.khusi._6preLoading.Restaurant">
		<property name="welcomeNote"
			value="Welcome to the restaurant via injecting value into bean property"></property>
	</bean>

	<bean id="restaurantBean1" class="com.kumari.khusi._6preLoading.Restaurant"
		lazy-init="default">
		<property name="welcomeNote"
			value="Welcome to the restaurant via injecting value into bean property"></property>
	</bean>


	<bean id="restaurantBean2" class="com.kumari.khusi._6preLoading.Restaurant"
		lazy-init="false">
		<property name="welcomeNote"
			value="Welcome to the restaurant via injecting value into bean property"></property>
	</bean>


 	<bean id="restaurantBean3" class="com.kumari.khusi._6preLoading.Restaurant"
		lazy-init="true">
		<property name="welcomeNote"
			value="Welcome to the restaurant via injecting value into bean property"></property>
	</bean> 
	
	  <bean id="restaurantBean4" class="com.kumari.khusi._6preLoading.Restaurant" scope="prototype"
		lazy-init="default">
		<property name="welcomeNote"
			value="Welcome to the restaurant via injecting value into bean property"></property>
	</bean> 

</beans>  