<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<bean id="triangle"
		class="com.kumari.khusi._14JSR250Annotation._1resource.Triangle">
	</bean>

	<bean id="sefsdf" class="com.kumari.khusi._14JSR250Annotation._1resource.Point">
		<property name="x" value="10"></property>
		<property name="y" value="10"></property>
	</bean>
	<bean id="dsfs" class="com.kumari.khusi._14JSR250Annotation._1resource.Point">
		<!-- <qualifier value="triangleRelated"></qualifier> -->
		<property name="x" value="10"></property>
		<property name="y" value="0"></property>
	</bean>

	<bean id="sdfsdf" class="com.kumari.khusi._14JSR250Annotation._1resource.Side">
		<property name="length" value="10"></property>
	</bean>

	<!-- <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean> -->
</beans>  